
        body {
            font-family: Arial, sans-serif;
            background-color:rgb(181, 212, 224);
            
        }
        h1{
            text-align: center;
           font-style:arial black;
        }
        main {
            display: flex;
            justify-content: space-around;
        }
        form {
            border: 1px solid #ccc;
            padding: 20px;
            width: 40%;
        }
        #coworker {
            background-color: gainsboro;
        }
        #owner {
            background-color:gainsboro;
        }
        h3 {
            color: #333;
        }
        input[type="text"] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }
        input[type="submit"]:hover {
            opacity: 0.8;
        }
   

