
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    margin: 0;
}

#profilePicture {
    max-width: 30%;
    height: auto;
    border-radius: 50%;
}

#newPropertySection {
    display: none;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

  header {
    background-color: rgb(181, 212, 224);
    color: black;
    padding: 10px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  input[type="text"] {
    padding: 10px;
    width: 70%;
    margin-right: 10px;
  }
  select {
    padding: 10px;
  }
  button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: white;
    border: none;
    color: black;
  }
  button:hover {
    background-color: whitesmoke;
  }
  .filter-options {
    display: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 1px; 
    text-align: center;
  }
  .header-right {
    text-align: right;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    right: 0;
    max-height: calc(100vh-100px);
    overflow-y: white;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

  a {
    color: black;
    text-decoration: none;
  }

  h1 {
    text-align: center;
  }

  main {
    padding-top: 5%;
    text-align: center;
  }

  .newPropertyButton {
    margin-right: 3px;
  }

  .picture {
    max-width: 60%;
    height: auto;
  }

  #propertyContainer {
    padding: 5%;
    align-items: left;
    text-align: left;
    max-width: 80%;
  }
